.ErrorBoundary {
  background: beige;
  margin: 25px auto;
  max-width: 700px;
  padding: 10px 20px;
  box-shadow: rgb(50 50 93 / 25%) 0 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  border-radius: 10px;

  h2 {
    margin: 10px 0;
  }

  code {
    color: red;
  }
}
